* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --color-alerts-green: #004E05;
    --color-alerts-red: #770000;
    --color-secondary-white: #fff;
    --color-secondary-dark: #101821;
    --color-secondary-L_gray: #5C6574;
    --color-primary-orange: #EA6D27;

    /* Fontes */

    --font-h1: 60px;
    --font-h2: 48px;
    --font-h3: 28px;
    --font-h4: 22px;
    --font-button: 20px;
    --font-body: 16px;

    --font-title: "David Libre", sans-serif;
    --font-body: "Inter", sans-serif;
}