@import url(./global.css);



.iframe-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background-color: #EA6D271A;
}

iframe {
    width: 1392px;
    height: 481px;
}

footer {
    display: flex;
    align-items: center;
    gap: 215px;
    padding: 60px 134px;
}

.container-content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.container-content1 img {
    transition: 0.3s ease-in;

}

.container-content1 img:hover{

    transform: scale(1.3);
    
    
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    transition: 0.3s;
}
.social-icons img:hover{
    filter: invert(1);
    transform: scale(1.2);

}

.text-group1-footer {
    gap: 8px;
    display: flex;
    flex-direction: column;

}

.text-group1-footer p {

    font-size: var(--font-body);
    font-family: var(--font-body);
}

.group-content-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.group-content-footer h2 {
    font-size: var(--font-h3);
    font-family: var(--font-title);
}


.nav-footer ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
}

.nav-footer ul a {
    text-decoration: none;
    font-family: var(--font-body);
    font-size: var(--font-body);
    color: black;
}

.nav-footer ul li {
    transition: 0.3s;
}

.nav-footer ul li:hover {
    color: var(--color-secondary-L_gray);
    transform: scale(1.1);
}

.container-content2 {
    display: flex;
    gap: 80px;
    align-items: flex-start;
}

